server:
  port: 8888
spring:
  application:
    name: gateway-service
  cloud:
    discovery:
      enabled: false
    config:
      enabled: false
    gateway:
      routes:
        - id: r1
          uri: http://localhost:8081
          predicates:
            - Path=/api/customers/**
        - id: r2
          uri: http://localhost:8082
          predicates:
            - Path=/api/products/**
